html {

    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    margin: 0%;
    font-size: 1rem;
}

nav {
    display: block;
    width: 100%;
    height: 50px;

    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;


}

nav ul li img {
    max-height: 40px;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: context-menu;
    font-weight: bolder;
}


nav ul li a:hover {
    color: rgb(174, 174, 255);
    transition: 0.15s;
}

nav ul li a.active {
    color: rgb(193, 253, 115);
}

/* nav button {
    padding: 40px;
    margin: 0px;
    border: none;
    background-color: cornflowerblue;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    transition: all 0.3s;
    cursor: pointer;

}

nav button {
    cursor: pointer;
    position: relative;
}

nav button:after {
    background-color: rgb(117, 159, 238);
    transition: 0.1s;
}

nav button:hover {
    background-color: rgb(117, 159, 238);
    transition: 0.2s;
}

nav button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

nav button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 2s;
}

nav button:hover span {
    padding-right: 25px;
    font-size: 2rem;
    transition: 0.5s;
}

nav button:hover span:after {
    opacity: 1;
    right: 0;
} */

header.cv section {
    margin: 10px;
    /* border: 2px solid red; */
}

header.cv h1 {
    color: initial;
    font-size: 1.6rem;
    font-weight: bold;
    font-style: normal;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

header.cv h2 {
    color: blue;
    font-size: 1.3rem;
    font-weight: bold;
    font-style: normal;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

header.cv p {
    color: initial;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

header.cv #photo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

header.cv #photo img {
    max-width: 100%;
    width: auto;
    height: auto;
}

header.cv #contacts img {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

header.cv #contacts p {
    vertical-align: middle;
    color: initial;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    margin: 15px;
    margin-left: 5px;
}

main section {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid gray;
}

main section div {
    margin-bottom: 20px;
    margin-left: 5px;
}

footer {
    font-size: 1rem;
}

aside {
    font-size: 1rem;
}

h1 {
    color: initial;
    font-size: 1.4rem;
    font-weight: normal;
    font-style: normal;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

h2 {
    color: initial;
    font-size: 1.4rem;
    font-weight: normal;
    font-style: normal;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

h3 {
    color: initial;
    font-size: 1.4rem;
    font-weight: normal;
    font-style: normal;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

h4 {
    color: initial;
    font-size: 1.4rem;
    font-weight: bold;
    font-style: normal;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

h5 {
    color: initial;
    font-size: 1.2rem;
    font-weight: normal;
    font-style: normal;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

h6 {
    color: initial;
    font-size: 1.4rem;
    font-weight: normal;
    font-style: normal;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.work-dates {
    color: blue;
    font-size: 0.8rem;
    font-weight: normal;
    font-style: italic;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.work-posit {
    color: initial;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.work-compa {
    color: blue;
    font-size: 1.3rem;
    font-weight: normal;
    font-style: normal;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;

}

.work-descr {
    color: initial;
    font-size: 1rem;
    font-weight: normal;
    font-style: italic;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.work-bulet {
    list-style: none;
    padding: 0;
    margin: 2px;
}

.work-bulet li {
    color: initial;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    margin-top: 1px;
    margin-bottom: 6px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 30px;
    text-indent: -30px;
}

.work-bulet li::before {
    content: "\2234 ";
    padding: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }

    /* nav {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        margin: 0px;
        margin-bottom: 5px;
        padding: 0px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        min-height: 40px;
    } */

    /* nav button {
        padding: 2px;
        margin: 0px;
        border: none;
        background-color: cornflowerblue;
        color: #FFFFFF;
        text-align: left;
        font-size: 14px;
        transition: all 0.3s;
        cursor: pointer;


    } */

    /* main {
        display: grid;
        grid-template-columns: 100%;
        font-size: 1rem;
        /* border: 2px solid blue; */
    /* border-top: 1px solid black;
    } */


    header.cv {
        display: grid;
        grid-template-areas: auto auto auto;
        grid-template-areas: auto auto auto;
        border-bottom: 1px solid gray;
    }

    header.cv #personal {
        grid-area: 2 / 1 / span 1 / span 3;
    }

    header #personal p {
        text-align: justify;
    }

    header.cv #photo {

        grid-area: 1 / 1 / span 1 / span 1;
    }

    header.cv #contacts {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        grid-area: 1 / 2 / span 1 / span 1;
    }

    header.cv #contacts p {
        vertical-align: middle;
        color: initial;
        font-size: 1rem;
        font-weight: normal;
        font-style: normal;
        margin: auto;
        text-align: justify;
        margin: 2px;
        text-align: justify;
        margin: 2px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    header.cv {
        font-size: 1rem;
        display: grid;
        grid-template-columns: 40% 20% 40%;
        border-bottom: 1px solid gray;
    }

    /* nav {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        margin: 0px;
        margin-bottom: 5px;
        padding: 0px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        min-height: 50px;
    } */

    /* nav button {
        padding: 10px;
    } */

    main {
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: 1rem;
        /* border: 2px solid blue; */
        border-top: 1px solid black;
    }

    main section#work {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    main section#edu {
        grid-column-start: 2;
        grid-column-end: 2;
    }

    main section#skills {
        grid-column-start: 2;
        grid-column-end: 2;
    }

    main section#interests {
        grid-column-start: 2;
        grid-column-end: 2;
    }
}

@page {
    size: A4;
    margin: 0;
}

@media print {

    html,
    body {
        width: 210mm;
        height: 297mm;
        font-size: 7pt;
    }

    nav {
        display: none;
    }

    main.cv {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }

    header.cv {
        font-size: 1rem;
        display: grid;
        grid-template-columns: 40% 20% 40%;
    }

    main.cv {
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: 1rem;
        border-top: 1px solid black;
    }

    main section#work {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    main section#work div {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    main section#edu {
        grid-column-start: 2;
        grid-column-end: 2;
    }

    main section#skills {
        grid-column-start: 2;
        grid-column-end: 2;
    }

    main section#interests {
        grid-column-start: 2;
        grid-column-end: 2;
    }
}